#color-ul > li{
    font-size: 24px;
    font-size: bold;
}
#color-ul > li:nth-child(1){color: red;}
#color-ul > li:nth-child(2){color: #5c3434; }
#color-ul > li:nth-child(3){color: lab(88.33% -78.62 52.37);}
#color-ul > li:nth-child(4){color: rgba(47, 199, 116, 0.5);}
#color-ul > li:nth-child(5){color: hsl(0, 45%, 60%);}
#color-ul > li:nth-child(6){color: rgb(121, 55, 55);}

/* text-decoration */
#deco-ul > li:nth-child(1){text-decoration: underline;}
#deco-ul > li:nth-child(2){text-decoration: line-through;}
#deco-ul > li:nth-child(3){text-decoration: overLine;}
#deco-ul > li:nth-child(4) > a {text-decoration: none;}

/* text-align */
#align-test{
    width: 350px;
    border: 2px solid black;
}

#alingn-test span{background-color: pink;}

#align-test > p:nth-child(1){text-align: left;}
#align-test > p:nth-child(2){text-align: right;}
#align-test > p:nth-child(3){text-align: center;}

#align-test > p:nth-child(4){text-align: justify;}

#div1{text-align: center;}

#div1 > div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}