*{
    border : 1px solid black;
    box-sizing: border-box;
}

#container{
    width: 1140px;
    margin: auto;
}

#header{
    height: 200px;
    display: flex;
}

#header > div:nth-child(1){
    flex-basis: 15%;
}

#header > div:nth-child(2){
    flex-basis: 70%;
}

#header > div:nth-child(3){
    flex-basis: 15%;
}

#header > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) > img{
    width: 120px;
}

#header > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

#query{
    width: 500px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #455ba8;
    border-radius: 5px;
}

#body{
    height: 30px;
    display: flex;
}

#a, #b, #c, #d, #e, #f{
    border: 0px solid white;
    text-align: center;
}

#body > #a:nth-child(1){
    flex-basis: 10%;
}

#body > #b:nth-child(2){
    flex-basis: 10%;
}

#body > #c:nth-child(3){
    flex-basis: 10%;
}

#body > #d:nth-child(4){
    flex-basis: 10%;
}

#body > #e:nth-child(5){
    flex-basis: 10%;
}

#body > :nth-child(6){
    flex-basis: 50%;
}

#body > #a:nth-child(1){
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
}

#body > #b:nth-child(2):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
}

#body > #c:nth-child(3):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
}

#body > #d:nth-child(4):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
}

#body > #e:nth-child(5):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
}

