*{
    border : 1px solid black;
    box-sizing: border-box;
}

#container{
    width: 1140px;
    margin: auto;
}

#header{
    height: 200px;
    display: flex;
}

#header img{
    border: none;
}

#header > div:nth-child(1){
    flex-basis: 15%;
}

#header > div:nth-child(2){
    flex-basis: 70%;
}

#header > div:nth-child(3){
    flex-basis: 15%;
}

#header > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) > img{
    width: 120px;
}

#header > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

#query{
    width: 500px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #455ba8;
    border-radius: 5px;
}

#body{
    height: 30px;
    display: flex;

    position: sticky;
    top: 0;
    /*
        stickey
        - 스크롤이 임계점에 도달했을 때 화면애 스트커처럼 요소를 붙이는 속성
        - 평소에는 기본position상태를 유지하다가, 임계점 도달시 flex상태
    */
}

#a, #b, #c, #d, #e, #f{
    border: 0px solid white;
    text-align: center;
} 

#body > #a:nth-child(1){
    flex-basis: 15%;
}

#body > #b:nth-child(2){
    flex-basis: 15%;
}

#body > #c:nth-child(3){
    flex-basis: 15%;
}

#body > #d:nth-child(4){
    flex-basis: 15%;
}

#body > #e:nth-child(5){
    flex-basis: 15%;
}

#body > :nth-child(6){
    flex-basis: 25%;
}

#body > #a:nth-child(1):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.15;
}

#body > #b:nth-child(2):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.15;
}

#body > #c:nth-child(3):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.15;
}

#body > #d:nth-child(4):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.15;
}

#body > #e:nth-child(5):hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.15;
}


#foot{
    height: 800px;
    display: flex;
}

#foot > #empty:nth-child(1){
    flex-basis: 70%;
}

#foot > #login:nth-child(2){
    flex-basis: 30%;
}

/* 로그인 전체 컨테이너를 부모 너비에 꽉 채움 */
#login {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

/* 상단 입력+버튼 행 */
.login-input-row {
    display: flex;
    width: 97%; 
    height: 70px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.input-wrap input {
    height: 50%;
    padding-left: 10px;
}

.login-input-row {
    margin: 5px;
}

/* 로그인 버튼을 오른쪽 끝에 붙임 */
.login-input-row button {
    width: 30%;
}

.login-input-row button:hover{
   background-color: #455ba8;;
   color: white;;
}

/* 하단 링크 행 */
.login-link-row {
    display: flex;
    align-items: center;
    width: 97%; /* 하단 바도 오른쪽 끝까지 */
    height: 35px;
    padding-left: 10px;
    margin: 5px;
}

.login-link-row a{
    border: none;
}

.login-link-row span{
    border: none;
    padding: 0px 20px
}

#footer{
    height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#footer > p{
    font-weight: bold;
    border: none;
}

#footer > div a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    border: none;
}

#footer > div span{
    padding: 0 10px;
    border: none;
}












